.myButton {
    border: none;
    border-radius: 5px;
    background: #35605A;
    color: #F7F0F0;
    font-size: 20px;
    font-family: Arial;
}
.myButton:hover {
    background: #18F2B2;
    color: #00120B;
    box-shadow: 0 0 15px #18F2B2;
}